.navigation{
  padding:25px;
  text-align:right;
}
.navigation-elements{
  padding:25px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-decoration:none;
}
.navigation-elements:hover{
  background-color:lightgray;
}
.navigation-elements:active{
  background-color:green;
  color:white;
}
.logo{
  height:50px;
  width:50px;
  text-align: left;
  margin:10px;
}
